<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Youtube To Spotify Playlist Converter</title>

    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

</head>

<body>
    <h1> Welcome to YouTube To Spotify Converter! </h1>

    <p>
    <ul>
        <p> <strong> Follow these steps below to convert your Youtube playlist to a Spotify Playlist. </strong></p>
        <li> 1. Connect your Spotify account. - So as to automatically create a playlist </li>
        <li> 2. Connect your YouTube account. This connects to your youtube account to get your private and public
            playlists. </li>
        <li> 3. Enter the link of the playlist you want to convert or select from the list of your playlists. </li>
        <li> 4. Press 'Convert to Spotify Playlist.' </li>
        <li> 5. Go to your Spotify Library and enjoy your Music. </li>

    </ul>
    </p>

    <button> Connect my spotify Account</button>
    <button> Connect to my Youtube Account</button>

    <input type="search" name="search" id="searchbar">
    <button class="bx bxs-search"></button>

    <div>
        <p> These are the songs in your playlist</p>
        <ul>
            <div>
                <img src="" alt="Thumbnail here">
                <p>{Track name}</p>
                <p>Channel</p>
                <button><i class='bx bx-plus-circle'></i></button>

            </div>
        </ul>
    </div>

    <button> Convert to Spotify Playlist </button>

</body>
<footer> Mutethia Creations. All rights reserved. 2024. </footer>

</html>